ul.sidebar-menu li.header {
    text-transform: uppercase;
}

div.lockscreen-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9001;
    background: #d2d6de;
    display: none;
}

div.lockscreen-errors {
    text-align: center;
}

div.html-tree ul {
    list-style: none;
    padding-left: 25px;
}

div.html-tree ul:first-child {
    padding-left: 0px;
}

div.html-tree li {
    padding-top: 5px;
}

div.html-tree li span {
    padding-left: 5px;
}

i.grid-icon {
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
}

.ui-sortable-handle {
    cursor: move;
}

form.form-horizontal .nav-tabs {
    border-bottom: 0px;
}

.content-header ol.breadcrumb-parents {
    position: relative;
    display: inline-block;
    top: 0px;
}

.input-group div.file-caption-name {
    display: none;
}

.file-thumbnail-footer {
    margin-top: 10px;
}

#redactor-image-manager-box img {
    padding: 5px;
}

.news-tags-form {
    padding: 10px;
}

.selectize-input.ui-sortable div.item {
    cursor: move;
}